.about-section-layout{
    padding: 30px;
    display: flex;
    gap: 30px;
}

.personal-about-eassy, .personal-contact{
    flex: 50%;
}

.personal-contact{
    background-color: cornflowerblue;
    padding: 20px;
    border-radius: 20px;
}