.contact-section-layout{
    padding: 120px 10%;
    background-color: #252525;
    /* parallax */
    background-image: url('../../public/photos/header-background.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-card-layout{
    background: white;
    display: flex;
    padding: 30px 0px;
    border-radius: 15px;
}

.hiring-layout, .contact-layout{
    padding: 30px;
}

.contact-card-title{
    font-size: 27px;
    font-weight: 700;
}

/* forms layout */
.forms-layout{
    display: flex;
    flex-direction: column;;
    gap: 15px;
}

/* contact listing layout */
.contact-listing-layout{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 0px 30px;
}

.contact-item-layout{
    text-align: center;
}

.contact-item-icon{
    aspect-ratio: 1;
    background: lightblue;
    border-radius: 50%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}

.icon-style{
    font-size: 45px;
    color: white;
}