.skill-section-layout{
    background-image: url('../../public/photos/skill-background.png');
    height: fit-content;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.skill-section-content{
    padding: 40px 10% 10px;
    color: white;
    text-align: center;
}

.skill-swiper-layout{
    height: 70vh;
    width: 100%;
}