.skill-card-layout{
    background-color: rgba(25, 25, 25, 0.5);
    backdrop-filter: blur(5px);
    padding: 60px 90px;
    margin: 0px 90px;
    color: white;
    border: 10px solid transparent;
    border-image: linear-gradient(to top, #b2fefa, #0ed2f7);
    border-image-slice: 10;
}


.skill-title{
    font-size: 27px;
    font-weight: bold;
    border-left: 5px solid cyan;
    padding-left: 20px;
    margin-bottom: 20px;
}

.skill-sub-title{
    font-size: 24px;
    margin-bottom: 15px;
}

.skill-listing{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.skill-item{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0px;
}

.skill-icon{
    width: 60px;
    height: 60px;
    background: lightblue;
}

.skill-name{
    font-size: 20px;
}